<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">You've Discovered My Secret!</h1>
    <p class="secret-text">Jack Bauer is my hero.</p>
    <hr />
    <input type="text" name="secret" placeholder="submit a secret" />
    <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit</a>
    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
  </div>
  <h1><%= user.email %></h1>
</div>

<%- include('partials/footer') %>
