<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">You've Discovered My Secret!</h1>
    <p class="secret-text">
      <% for( let index = 0; index < secrets.length; index++ ) { %> 
      <p><%= secrets[index].secret %> <% } %></p>
    </p>
    <hr />
    <form action="/submit" method="post">
      <input type="text" name="secret" placeholder="submit a secret" />
      <button class="btn btn-dark btn-lg" type="submit" role="button">
        Submit
      </button>
    </form>
    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
  </div>
  <h1><%= user.email %></h1>
</div>

<%- include('partials/footer') %>
